<%= link_to "Teachers Page", teachers_path%>
<br>
<%= link_to "Students Page", students_path%>
<br>
<%= link_to "Courses Page", courses_path%>
<hr>


<h1>Courses List</h1>

<% @courses.each do |course|%>
<li><%= link_to "#{course.name}", course %></li>

<%end%>
